p,
h1,
h2,
h3,
h4,
a {
/*    font-family: 'Century Gothic', 'Muli', AppleGothic, sans-serif;*/
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

/* WHITE WELCOME BOX */

.middle-block {
    position: fixed;
    display: block;
    background-color: white;
    border: 0;
    /* Ensure div is a square */
    height: 0;
    width: 30vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30%;
    z-index: 1200;
    /* fix item to be in the absolute middle of viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* Welcoming text in block */

.block-content {
    text-align: center;
    display: block;
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.block-content h1 {
    font-size: 45px;
    color: rgb(90, 90, 90);
    margin-bottom: 20px;
}

#myname {
    margin-top: -10px;
    color: rgb(90, 90, 90);
}

#myname span {
    color: #49798E;
}

#dev_design {
    font-size: 16px;
    color: #49798E;
}


/* 4 social media icons */

.social-icons {
    display: inline;
    width: 7%;
    margin-right: 5%;
    margin-top: 3%;
    -webkit-transition: all 0.4s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.4s ease;
    /* Firefox */
    -o-transition: all 0.4s ease;
    /* IE 9 */
    -ms-transition: all 0.4s ease;
    /* Opera */
    transition: all 0.4s ease;
}

.social-icons:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/*----------------------------*/
/*------ NAV SQUARE -------*/
/*----------------------------*/

.nav-square-white {
    z-index: 500;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    display: grid;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1)
        
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.nav-square-white:hover {
    opacity: 1;
}

.nav-square-blue {
    opacity: 0.8;
    width: 100px;
    height: 100px;
    z-index: 500;
    display: grid;
    position: relative;
    border: 2px solid #A6CCCC;
    text-decoration: none;
    color: #A6CCCC;
    padding: 15px;
    font-size: 18px;
    
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.nav-square-blue:hover {
    opacity: 1;
}
/*----------------------------*/
/*-------- About Page --------*/
/*----------------------------*/
.about-section{
    min-height: 100vh;
    vertical-align: middle;
}
/* ------------ */
/*     MENU     */
/* ------------ */
#about-menu{
    margin-top: 80px;
    margin-left: 3.5%;
    font-size: 13px;
    position:fixed;
    display: none;
    z-index: 999;
}

#about-menu-2{
    margin-top: 250px;
    margin-left: 3.5%;
    font-size: 13px;
    position:fixed;
    display: none;
    z-index: 999;
}

#port-menu{
    margin-top: 80px;
    margin-left:510px;
    font-size: 13px;
    position:fixed;
    display: none;
    z-index: 999;
}

#port-menu-2{
    margin-top: 250px;
    margin-left:510px;
    font-size: 13px;
    position:fixed;
    display: none;
    z-index: 999;
}

.active-section{
    width: 100%;
}

.menu-bubble, .port-menu-bubble{
    border-radius: 50%;
    background: #71a5a7;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
    white-space: nowrap;
}

.menu-bubble:hover,
.port-menu-bubble:hover,
.menu-bubble:focus,
.port-menu-bubble:focus,
.menu-bubble:active,
.port-menu-bubble:active{
    background: #478588;
}

.menu-bubble span, .port-menu-bubble span{
    top: 80%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: white;
    position:relative;
    display: table;
}

.ripple-effect{
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}

.ink{
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

    background: #fff;
    opacity: 1;
}

.ink.animate {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-ms-keyframes ripple {
    100% {
        opacity: 0;
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }
}

/* ------------ */
/*     INTRO    */
/* ------------ */
#pic-bio{
    width: 75%;
    display: inline-block;
}

#about-propic{
    width: 100%;
    position:relative;
    left: -100%;
}

#bio-block{
    display: inline-flex;
    width: 100%;
}
#pic-bio h1{
    font-weight: bolder;
    color: #a5cccd;
    margin-left: 30px;
    font-size: 50px;
    font-stretch: condensed;
}
#pic-bio p{
    text-align: justify;
}

#brief-info-block{
    display: inline-block;
    width:25%;
    padding-left: 20px;
    padding-right: 20px;
    right: -100%;
    position: relative;
}

#brief-info-block table{
    border-left: 6px solid #a5cccd;
    padding-left: 5px;
}

#brief-info-block table td p:first-child{
    margin-top: 0;
}

#brief-info-block table td p:last-child{
    margin-bottom: 0;
}

#brief-info-block span{
    font-weight: bold;
}

strong{
    font-weight: bold !important;
    color: #497B90;
}

/* ---------- */
/*   SKILLS   */
/* ---------- */
#skills-section{
    padding: 40px;
}

#first-row-btn{
    display: inline;
}

.skills-btn{
    display: inline-block;
    border-radius: 50%;
    background: white;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #71a5a7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
    white-space: nowrap;
    opacity: 0.5;
}

.skills-btn span{
    top: 68%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #71a5a7;
    position:relative;
    display: table;
}

.skills-btn:hover{
    opacity: 1;
}

#capabilities-btn, #design-btn{
    margin-left: 70px;
}

#programming-btn, #lang-btn{
    right: 150px;
    position:absolute;
}

/* ---------- */
/* EXPERIENCE */
/* ---------- */
#work-gallery{
    display: inline;
}

.job-block{
    position: relative;
    width: 33.3%;
    overflow: hidden;
    height: 50vh;
    float:left;
}

.job-block-img{
	width:100%;
    height:50vh;
	background-position:center top;
    background-size: cover;
    
    -moz-filter: blur(5px) !Important;
    -o-filter: blur(5px) !Important;
    -ms-filter: blur(5px) !Important;
    filter: blur(5px) !Important;
    transform: scale(1.1);
    
	transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.job-block h4, .job-block h5, .job-block p{
    color:white;
    float:left;
    z-index: 999;
    text-align: center;
    position: relative;
    margin:5px;
    filter: none !important;
}

.cssco.cssco--t1:hover{
    cursor: pointer;
}
.cssco.cssco--t1:hover .job-block-img{
    filter:none !Important;
} 

/* ---------- */
/* CONTACT ME */
/* ---------- */
#contact-section{
    float: left;
    display: flex;
}

#left-contact, #right-contact{
   padding: 20px;
}

#right-contact{
    align-self: flex-end;
}

#right-contact p strong{
    color: #497B90;
}

.form-control:focus{
    outline: 0;
}

.form-control{
    background-color: #E8F3F3;
    border: none;
    border-radius: 0;
    color: #646464;
    width: 100%;
    padding: 10px;
    font-size: 13px;
}

label{
    font-size: 14px;
    color: #76A5A5;
    font-weight: 600;
}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E8F3F3 inset !important;
}

.btn-email{
    background-color: #A6CCCC;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 0;
    position: inherit;
    padding-bottom: 8px;
    padding-top: 8px;
    border: none;
    font-size: 15px;
}

.btn-email:focus, 
.btn-email:active, 
.btn-email:hover, 
.btn-email.active, 
.btn-email.active, 
.open > .dropdown-toggle.btn-email{
    background: #8BBCBB;
    color: white;
    box-shadow: none;
    outline: 0 none;
    cursor: pointer;
}

.btn-email:active:focus{
    background: #8BBCBB;
    color: white;
    box-shadow: none;
    outline: 0 none;
}
    
#contact-section .social-icons{
    width: 8%;
}
    
/*----------------------------*/
/*------ Portfolio Page ------*/
/*----------------------------*/
#filter-bar{
    margin: 0;
    background: #545454;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 50px;
/*    box-shadow: -5px 0 10px -5px #4B4B4B, 5px 0 10px -5px #4B4B4B;*/
    z-index: 9999;
}

.portfolio-menu{
    display: inline-block;
}

.portfolio-menu-item{
    display: inline;
    list-style: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

/* ---- .grid-item ---- */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 25%;
}

.grid-item {
    float: left;
    padding: 8px;
}

.grid-item img {
    display: block;
    max-width: 100%;
    border: 5px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-gallery{
    padding: 20px;
}

/*----------------------------*/
/*------ MEDIA QUERIES -------*/
/*----------------------------*/

/* when screen is 800px or narrower */

@media only screen and (max-width: 1100px) {
    .middle-block {
        width: 38%;
        padding-bottom: 38%;
    }
}


/* when screen is 400px or narrower */

@media only screen and (max-width: 850px) {
    .middle-block {
        width: 45%;
        padding-bottom: 45%;
    }
    .block-content h1,
    #myname,
    #myname span {
        font-size: 40px
    }
    #dev_design {
        padding-top: 10px;
        font-size: 13px;
    }
    .social-icons {
        margin-top: 2%;
    }
}


/* when screen is 650px or narrower */

`@media only screen and (max-width: 650px) {
    .middle-block {
        width: 60%;
        padding-bottom: 60%;
    }
    .block-content h1,
    #myname,
    #myname span {
        font-size: 40px
    }
    #dev_design {
        padding-top: 10px;
        font-size: 13px;
    }
    .social-icons {
        margin-top: 2%;
    }
}


/* when screen is 480px or narrower */

@media only screen and (max-width: 480px) {
    .block-content h1,
    #myname,
    #myname span {
        font-size: 30px
    }
}

.top-bar {
    background-color: #497B90;
    width: 100%;
    padding: 20px;
    color: white;
    box-shadow: 0px 1px 8px #4b4b4b;
}