<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="css/demo.css">
    <link type="text/css" rel="stylesheet" href="css/component.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bar.css">
    <link href="css/filter.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div id="splitlayout" class="splitlayout" ng-controller="portfolioCtrl">
            <div class="intro">
                <div class="side side-left">
                    <!-- About Page Menu -->
                    <div class="intro-content intro-content-right">
                        <div class="profile">
                            <div class="nav-square-white"><span class="square-content">About</span></div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="side side-right">
                    <div class="intro-content intro-content-left">
<!--
                        <div id="port-menu">
                            <div class="port-menu-bubble ripple-effect" id="drawing-bubble" ng-repeat="cat in categories" ng-if="$index < 2" ng-click="setCategoryName(cat.Name)" ng-model="categoryName" data-filter="{{cat.Name}}">
                                <span class="fa {{cat.fa}} fa-lg"></span>
                            </div>
                        </div>
-->
                        <div class="profile">
                            <div class="nav-square-blue"><span class="square-content">Portfolio</span></div>
                        </div>
<!--
                        <div id="port-menu-2">
                            <div class="port-menu-bubble ripple-effect" id="drawing-bubble" ng-repeat="cat in categories" ng-if="$index >= 2" ng-click="setCategoryName(cat.Name)" ng-model="categoryName" data-filter="{{cat.Name}}">
                                <span class="fa {{cat.fa}} fa-lg"></span>
                            </div>
                        </div>
-->
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
            
            <!-------------------->
            <!-- Portfolio Page -->
            <!-------------------->
            <div class="page page-right">
                <div class="page-inner">
                    <section class="project-gallery"> 
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div ng-repeat="project in projects" class="grid-item {{project.Category}}">
                                <img src="img/{{project.Image}}">
                                <p class="project-name">{{project.Title | uppercase}}</p>
                                <p class="project-area">{{project.Area | uppercase}}</p>
                            </div>
                        </div>
                    </section>
                </div> <!--Page Inner-->
            </div> <!--Page Right-->
            <!-------------------->
            <!---- About Page ---->
            <!-------------------->
            <div class="page page-left" ng-controller="aboutCtrl">
                <div class="page-inner">
                    <section> 
                        <!--------------------->
                        <!--  INTRODUCTION   -->
                        <!--------------------->
                        <div id="intro-section" class="active-section about-section">
                            <h1 id="intro-title">DESIGN &amp;
                            DEVELOP</h1>
                            <img src="img/about-intro(edit).png" style="width: auto; height: 100vh; right: 20%; position: absolute">
                        </div>
                        <!--------------------->
                        <!--     SKILLS      -->
                        <!--------------------->
                        <div id="skills-section" class="about-section">
                            <h1 id="skills-title">SKILLS</h1>
                            <div id="first-row-btn">
                                <div id="capabilities-btn" class="skills-btn active-skill-btn">
                                    <span class="fa fa-bar-chart" aria-hidden="true"></span>
                                </div>
                                <div id="programming-btn" class="skills-btn">
                                    <span class="fa fa-file-code-o" aria-hidden="true"></span>
                                </div>
                                <div id="design-btn" class="skills-btn">
                                    <span class="fa fa-paint-brush" aria-hidden="true"></span>
                                </div>
                                <div id="lang-btn" class="skills-btn">
                                    <span class="fa fa-language" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div id="bar-chart" style="display: none">
                                <div id="capabilities-graph">
                                    <ul class="x-axis">
                                        <li ng-repeat="cap in capabilties"><span>{{cap.CName}}</span></li>
                                    </ul>
                                    <ul class="y-axis">
                                        <li ng-repeat="level in levels"><span>{{level.level}}</span></li>
                                    </ul>
                                    <div class="bars">
                                        <div class="bar-group" ng-repeat="cap in capabilties">
                                            <div class="bar bar-{{$index + 1}} stat-1" style="height: {{cap.CScore}}%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="programming-graph" style="display: none">
                                    <ul class="x-axis">
                                        <li ng-repeat="pro in programming"><span>{{pro.PName}}</span></li>
                                    </ul>
                                    <ul class="y-axis">
                                        <li ng-repeat="level in levels"><span>{{level.level}}</span></li>
                                    </ul>
                                    <div class="bars">
                                        <div class="bar-group" ng-repeat="pro in programming">
                                            <div class="bar bar-{{$index + 1}} stat-1" style="height: {{pro.PScore}}%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="design-graph" style="display: none">
                                    <ul class="x-axis">
                                        <li ng-repeat="design in designs"><span>{{design.DName}}</span></li>
                                    </ul>
                                    <ul class="y-axis">
                                        <li ng-repeat="level in levels"><span>{{level.level}}</span></li>
                                    </ul>
                                    <div class="bars">
                                        <div class="bar-group" ng-repeat="design in designs">
                                            <div class="bar bar-{{$index + 1}} stat-1" style="height: {{design.DScore}}%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="lang-graph" style="display: none">
                                    <ul class="x-axis-3">
                                        <li ng-repeat="lang in languages"><span>{{lang.Language}}</span></li>
                                    </ul>
                                    <ul class="y-axis">
                                        <li ng-repeat="level in lang_levels"><span>{{level.level}}</span></li>
                                    </ul>
                                    <div class="bars">
                                        <div class="bar-group-3" ng-repeat="lang in languages">
                                            <div class="bar bar-{{$index + 1}} stat-1" style="height: {{lang.Proficiency}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--------------------->
                        <!--   EXPERIENCES   -->
                        <!--------------------->
                        <div id="experiences-section" class="about-section">
                           <div id="left-work">
                               <img src="img/booz-intern.jpg" alt="">
                               <h1>Booz Allen Hamilton</h1>
                           </div>
                           <div id="right-work">
                               <div id="general-des">
                                   
                               </div>
                               <div class="more-work">
                                   <div id="more-work-1">
                                       
                                   </div>
                                   <div id="more-work-2">
                                       
                                   </div>
                               </div>
                           </div>
                        </div>
                        <!--------------------->
                        <!--   CONTACT ME    -->
                        <!--------------------->
                        <div id="contact-section" class="about-section">
                            <h1 id="contact-title">CONTACT</h1>
                            <div id="left-contact" style="width: 65%">
                                <form action="/contact" method="post">
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="email" class="form-control" id="senderEmail" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control" id="inputSubject" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control" rows="8" id="inputText" name="content"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-email" style="margin-top: 20px">SEND</button>
                                </form>
                            </div>
                            <div id="right-contact" style="width: 35%">
                                <p><i class="fa fa-mobile fa-2x" style="vertical-align: middle" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp(412) 478-6214</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp&nbsp charlottechen21@gmail.com</p>

                                <p>Please feel free to email me. Or if you’re in the Virginia area, I would love to grab a cup of hot chocolate (I’m allergic to coffee :p)</p>
                                    <a href="https://www.facebook.com/charlottechen1993"><i class="fa fa-facebook-square social-icons"></i></a>
                                    <a href="https://github.com/charlottechen1993"><i class="fa fa-github-square social-icons"></i></a>
                                    <a href="https://www.instagram.com/charlottechen1993"><i class="fa fa-instagram social-icons"></i></a>
                                    <a href="https://www.linkedin.com/in/charlotte-chen-b6200781"><i class="fa fa-linkedin-square social-icons"></i></a>
                                <br><br><br>
                            </div>
                        </div>
                    </section>
                </div> <!--Page Inner-->
            </div> <!--Page Left-->
            
            <!-- About Page Menu Navigation -->
            <a href="#" class="back back-right"><span class="fa fa-home" style="pointer-events:none"></span></a>
            <div class="KW_progressContainer">
                <p class="menu-bubble active-bubble" id="intro-bubble">ABOUT</p>
                <div class="dot-container" ng-repeat="i in [1, 2, 3, 4]"><div class="progress-dots" id="dot-{{i}}"></div></div>
                <p class="menu-bubble" id="skills-bubble">SKILLS</p>
                <div class="dot-container" ng-repeat="i in [5,6,7,8]"><div class="progress-dots" id="dot-{{i}}"></div></div>
                <p class="menu-bubble" id="experiences-bubble">EXPERIENCES</p>
                <div class="dot-container" ng-repeat="i in [9,10,11,12]"><div class="progress-dots" id="dot-{{i}}"></div></div>
                <p class="menu-bubble" id="contact-bubble">CONTACT</p>
            </div>
            
            <!-- Portfolio Page Menu Navigation -->
            <a href="#" class="back back-left"><span class="fa fa-home" style="pointer-events:none"></span></a>
        </div> <!--splitlayout-->
        
        <!-- Middle Row -->
        <div class="row">
            <div class="middle-block">
                <div class="block-content">
                    <h1>Hello</h1>
                    <h1 id="myname">I'm <span>Charlotte</span></h1>
                    <h4 id="dev_design">&lt Developer + Designer &gt</h4>
                    <div class="row">
                        <a href="https://www.facebook.com/charlottechen1993"><i class="fa fa-facebook-square fa-lg social-icons"></i></a>
                        <a href="https://github.com/charlottechen1993"><i class="fa fa-github-square fa-lg social-icons"></i></a>
                        <a href="https://www.instagram.com/charlottechen1993"><i class="fa fa-instagram fa-lg  social-icons"></i></a>
                        <a href="https://www.linkedin.com/in/charlotte-chen-b6200781"><i class="fa fa-linkedin-square fa-lg social-icons"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Container -->
    <!--  JS  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    
    <!-- Angular Controllers -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/portfolioCtrl.js"></script>
    <script type="text/javascript" src="js/aboutCtrl.js"></script>
            
    <!-- Isotope -->
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script src="bower_components/angular-isotope/dist/angular-isotope.js"></script>

    <!-- Split Layout -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpSplitLayout.js"></script>
    
    <!-- Custom -->
    <script type="text/javascript" src="js/effect.js"></script>
</body>
</html>