<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="css/demo.css">
    <link type="text/css" rel="stylesheet" href="css/component.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bar.css">
</head>
<body>
    <div class="container">
        <div id="splitlayout" class="splitlayout">
            <!-- About Page Menu -->
            <div id="about-menu">
                <div class="menu-bubble ripple-effect active-bubble" id="intro-bubble">
                    <span class="fa fa-user fa-lg"></span>
                    <span class="ink animate"></span>
                </div>
                <div class="menu-bubble ripple-effect" id="skills-bubble">
                    <span class="fa fa-code fa-lg"></span>
                    <span class="ink animate"></span>
                </div>
                <div class="menu-bubble ripple-effect" id="experiences-bubble">
                    <span class="fa fa-briefcase fa-lg"></span>
                    <span class="ink animate"></span>
                </div>
                <div class="menu-bubble ripple-effect" id="contact-bubble">
                    <span class="fa fa-envelope fa-lg"></span>
                    <span class="ink animate"></span>
                </div>
            </div>
            <div class="intro">
                <div class="side side-left">
                    <div class="intro-content intro-content-right">
                        <a href="#" class="back back-right" title="back to intro"></a>
                        <div class="profile">
                            <div class="nav-square-white">About Me</div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="side side-right">
                    <div class="intro-content intro-content-left">
                        <a href="#" class="back back-left" title="back to intro"></a>
                        <div class="profile">
                            <div class="nav-square-blue">My Portfolio</div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
            
            <!-------------------->
            <!-- Portfolio Page -->
            <!-------------------->
            <div class="page page-right" ng-controller="portfolioCtrl">
                <div class="page-inner">
                    <div id="filter-bar">
                        <ul class="portfolio-menu" ng-repeat="cat in categories">
                            <li class="portfolio-menu-item" ng-click="setCategoryName(cat.Name)" ng-model="categoryName" data-filter="{{cat.Name}}">{{cat.Name}}</li>
                        </ul>
                    </div>
                    <section class="project-gallery"> 
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div ng-repeat="project in projects" class="grid-item {{project.Category}}">
                                <img src="img/{{project.Image}}">
                            </div>
                    </section>
                </div>
            </div>
            <!-------------------->
            <!---- About Page ---->
            <!-------------------->
            <div class="page page-left" ng-controller="aboutCtrl">
                <div class="page-inner">
                    <section> 
                        <!--------------------->
                        <!--  INTRODUCTION   -->
                        <!--------------------->
                        <div id="intro-section" class="active-section about-section">
                            <img src="img/about-background.JPG" style="width: 100%; height: auto">
<!--
                            <div id="pic-bio">
                                <img id="about-propic" src="img/pro-pic2.jpg">
                                <div id="bio-block">
                                    <div style="width: 25%; display: inline-block">
                                        <h1>BIO</h1>
                                    </div>
                                    <div style="width: 75%; display: inline-block">
                                        <p><ng-include src="'file/description.txt'"></ng-include></p>
                                    </div>
                                </div>
                            </div>
                            <div id="brief-info-block">
                                <table>
                                    <tr>
                                        <td>
                                            <p><strong>Age: </strong> 23</p>
                                            <p><strong>Occupation: </strong><br>Software Engineer</p>
                                            <p><strong>Alma Mater: </strong><br>University of Pittsburgh</p>
                                            <p><strong>Hobby: </strong>Drawing &amp Painting, Web Development, Graphic Design, Photography</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
-->
                        </div>
                        <!--------------------->
                        <!--     SKILLS      -->
                        <!--------------------->
                        <div id="skills-section" class="about-section">
                            <div id="skills">
                                <div id="apps">
                                    <p>Photoshop</p>
                                    <p>Illustrator</p>
                                    <p>Web Design</p>
                                </div>
                                <div class="grid-bar">
                                    <div class="bar pct-75">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="bar pct-50">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="bar pct-90">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="v-divider one"></div>
                                    <div class="v-divider two"></div>
                                    <div class="v-divider three"></div>
                                    <div id="scale">
                                        <p class="zero">Beginner</p>
                                        <p class="one">Familiar</p>
                                        <p class="two">Proficient</p>
                                        <p class="three">Expert</p>
                                        <p class="four">Master</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------------------->
                        <!--   EXPERIENCES   -->
                        <!--------------------->
                        <div id="experiences-section" class="about-section">
                            <h1>This is Experience</h1>
                        </div>
                        <!--------------------->
                        <!--   CONTACT ME    -->
                        <!--------------------->
                        <div id="contact-section" class="about-section">
                            <div id="left-contact" style="width: 65%">
                                <form action="/contact" method="post">
                                    <div class="form-group">
                                        <label>Your Email:</label>
                                        <input type="email" class="form-control" id="senderEmail" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Subject:</label>
                                        <input type="text" class="form-control" id="inputSubject" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <label>Content:</label>
                                        <textarea class="form-control" rows="8" id="inputText" name="content"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-email" style="margin-top: 20px">Send</button>
                                </form>
                            </div>
                            <div id="right-contact" style="width: 35%">
                                <p><strong>Cell Phone: </strong>(412) 478-6214</p>
                                <p><strong>Email: </strong>charlottechen21@gmail.com</p>
                                
                                <p>Please feel free to email me. Or if you’re in the Virginia area, I would love to grab a cup of hot chocolate (I’m allergic to coffee :p)</p>
                                <a href="https://www.facebook.com/charlottechen1993"><img src="/img/facebook.png" class="social-icons"></a>
                                <a href="https://github.com/charlottechen1993"><img src="/img/github.png" class="social-icons"></a>
                                <a href="https://www.instagram.com/charlottechen1993"><img src="/img/instagram.png" class="social-icons"></a>
                                <a href="https://www.linkedin.com/profile/view?id=AAIAABFDxboBarzY1ffYFrGL9-mn9LygSGpYYqk&trk=nav_responsive_tab_profile_pic"><img src="/img/linkedin.png" class="social-icons"></a>
                                <br><br><br>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Middle Row -->
        <div class="row">
            <div class="middle-block">
            <div class="block-content">
                <h1>Hello</h1>
                <h1 id="myname">I'm <span>Charlotte</span></h1>
                <h4 id="dev_design">&lt Developer + Designer &gt</h4>
                <div class="row">
                    <a href="https://www.facebook.com/charlottechen1993"><img src="img/facebook.png" class="social-icons"></a>
                    <a href="https://github.com/charlottechen1993"><img src="img/github.png" class="social-icons"></a>
                    <a href="https://www.instagram.com/charlottechen1993"><img src="img/instagram.png" class="social-icons"></a>
                    <a href="https://www.linkedin.com/in/charlotte-chen-b6200781"><img src="img/linkedin.png" class="social-icons"></a>
                </div>
            </div>
        </div>
    </div>
            
    <!--  JS  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    
    <!-- Angular Controllers -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/portfolioCtrl.js"></script>
    <script type="text/javascript" src="js/aboutCtrl.js"></script>
            
    <!-- Isotope -->
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script src="bower_components/angular-isotope/dist/angular-isotope.js"></script>

    <!-- Split Layout -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpSplitLayout.js"></script>
    
    <!-- Custom -->
    <script type="text/javascript" src="js/effect.js"></script>
</body>
</html>